[git]
autoCommit = true
autoPush = true

[scriptEnv]
SRC_DIR = "~/.local/share/chezmoi"

[diff]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[cd]
{{- if eq .chezmoi.os "windows" }}
command = "pwsh"
{{- else if eq .chezmoi.os "linux" }}
command = "fish"
{{- end }}
