{{ if eq .chezmoi.hostname "home-laptop" }}
    {{- template "komorebi/komorebi_base" dict 
        "display_index_preferences" 
            `"0": "LEN40A9-4&32b67c77&0&UID265988"`
        "theme_palette"          "Base16"
        "theme_name"             "EverforestDarkHard"
        "theme_unfocused_border" "Base0A"
        "theme_bar_accent"       "Base0A"
        "theme_floating_border"  "Base0E"
        "theme_single_border"    "Base08"
        "theme_stack_border"     "Base0C" 
        "bar_configs" 
            "~/.config/komorebi-bar/home-laptop/monitor_main.json"
    -}}
{{ else if eq .chezmoi.hostname "home-desktop" }}
    {{- template "komorebi/komorebi_base" dict 
        "display_index_preferences" 
            `"0": "GSM5A26-5&29ae46df&1&UID4353", "1": "GSM773B-5&29ae46df&1&UID4356", "2": "GSM5AB7-5&29ae46df&1&UID4352"`
        "theme_palette"          "Base16"
        "theme_name"             "Everforest"
        "theme_unfocused_border" "Base0A"
        "theme_bar_accent"       "Base09"
        "theme_floating_border"  "Base0E"
        "theme_single_border"    "Base08"
        "theme_stack_border"     "Base0D" 
        "bar_configs" 
            `~/.config/komorebi-bar/home-desktop/monitor_main.json",
            "~/.config/komorebi-bar/home-desktop/monitor_right.json",
            "~/.config/komorebi-bar/home-desktop/monitor_left.json`
    -}}
{{ else if eq .chezmoi.hostname "bme-desktop" }}
    {{- template "komorebi/komorebi_base" dict 
        "display_index_preferences" 
            `"0": "LEN60AF-4&7e5290e&0&UID206355", "1": "SAM03C2-5&217f22ba&0&UID4353", "2": "SAM06A5-4&7e5290e&0&UID200195"`
        "theme_palette"          "Catppuccin"
        "theme_name"             "Mocha"
        "theme_unfocused_border" "Yellow"
        "theme_bar_accent"       "Mauve"
        "theme_floating_border"  "Mauve"
        "theme_single_border"    "Red"
        "theme_stack_border"     "Green" 
        "bar_configs" 
            `~/.config/komorebi-bar/bme-desktop/monitor_main.json",
            "~/.config/komorebi-bar/bme-desktop/monitor_right.json",
            "~/.config/komorebi-bar/bme-desktop/monitor_left.json`
    -}}
{{ end }}
