# Alias commands
# SSH
{{ if eq .chezmoi.hostname "home-desktop" }}
Function SshBme { & ssh -Y BME-Desktop }
Function SshRaspberry { & ssh raspberry }
Function RpiGetVids { & ssh raspberry "cd /mnt/WD6TB/twc/download; find . -type f -exec basename {} \;"}

Function TitusUtil { Invoke-WebRequest -useb https://christitus.com/win | Invoke-Expression }

Set-Alias -Name rpi -Value SshRaspberry
Set-Alias -Name bme -Value SshBme
Set-Alias -Name rpivids -Value RpiGetVids
Set-Alias -Name titus -Value TitusUtil

# Starship
$ENV:STARSHIP_CONFIG = "$HOME\.config\starship.toml"
Invoke-Expression (&starship init powershell)

# Add fzf to path.
$env:PATH = "C:\Users\Ambri\AppData\Local\Microsoft\WinGet\Links;$env:PATH"
{{ end }}

# Editor
$env:Editor = "nvim"

# Vi-mode with cursor indicator
Set-PsReadLineOption -EditMode Vi
$OnViModeChange = [scriptblock]{
    if ($args[0] -eq 'Command') {
        # Set the cursor to a blinking block.
        Write-Host -NoNewLine "`e[1 q"
    }
    else {
        # Set the cursor to a blinking line.
        Write-Host -NoNewLine "`e[5 q"
    }
}
Set-PSReadLineOption -ViModeIndicator Script -ViModeChangeHandler $OnViModeChange

# LFCD
Function lfcd { lf -print-last-dir $args | Set-Location}
Set-Alias -Name l -Value lfcd

# PSFzf options
## Argument search and History
Set-PsFzfOption -PSReadLineChordProvider 'Ctrl+t' -PSReadLineChordReverseHistory 'Ctrl+r'

## Aliases
Set-PsFzfOption -EnableAliasFuzzyEdit # fe
Set-PsFzfOption -EnableAliasFuzzyHistory # fh
Set-PsFzfOption -EnableAliasFuzzyKillProcess # fh
Set-PsFzfOption -EnableAliasFuzzySetLocation # fh
#$commandOverride = [ScriptBlock]{ param($Location) Write-Host $Location }
#Set-PsFzfOption -AltCCommand $commandOverride


