{{ if eq .chezmoi.hostname "bme-laptop" }}
{{ template "totalcmd/laptop/wincmd.ini" . }}
{{ else if (or (eq .chezmoi.hostname "bme-desktop") (eq .chezmoi.hostname "home-desktop"))}}
{{ template "totalcmd/desktop/wincmd.ini" . }}
{{ end }}
