Host bme-desktop
    HostName 152.66.5.73
    User ambrus
	IdentityFile ~/.ssh/bme-desktop
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    Compression yes
    Ciphers aes128-ctr

Host github.com
	IdentityFile ~/.ssh/github

{{- if or (eq .chezmoi.hostname "AMBRUS-OTTHONI") (eq .chezmoi.hostname "DESKTOP-ECCS97O") }}

Host gik-sar-18
    HostName 172.22.146.23
    User ambrus
    IdentityFile ~/.ssh/gik-sar-18.pem
    ForwardX11 yes
	ForwardX11Trusted yes
	Compression yes
	Ciphers aes128-ctr

Host gik-ubuntu-20
    HostName 172.22.146.208
    User ambrus
	IdentityFile ~/.ssh/gik-ubuntu-20

Host gik-fem-18
    HostName 172.22.146.24
    User ambrus
    IdentityFile ~/.ssh/gik-fem-18

Host raspberry
	HostName 192.168.0.2
	User pi
	IdentityFile ~/.ssh/raspberry_ssh

Host hpc
	HostName bwunicluster.scc.kit.edu
	User bb7279
    ForwardX11 yes

Host bme-radar
    HostName 152.66.5.197
    User ambrus
    IdentityFile ~/.ssh/bme-radar

Host bme-server
    HostName 152.66.5.194
    User ambrus
    IdentityFile ~/.ssh/bme-server
{{- end }}


